<?xml version="1.0" encoding="UTF-8"?>

<!-- XML 문서의 유효성 체크를 위해 필요한 부분 -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<!-- 마이바티스 설정과 관련된 기본 셋팅을 선언 가능한 영역 -->
	
	<typeAliases>
		<!-- <typeAlias type="com.kh.planA.myRoute.model.vo.AirTicket" alias="airtcket"/> -->
		<typeAlias type="com.kh.planA.myRoute.model.vo.City" alias="City"/>
		<typeAlias type="com.kh.planA.myRoute.model.vo.RoutePlan" alias="RoutePlan"/>
		<typeAlias type="com.kh.planA.myRoute.model.vo.MyRoute" alias="MyRoute"/>
		<typeAlias type="com.kh.planA.myRoute.model.vo.RouteResult" alias="RouteResult"/>
		<typeAlias type="com.kh.planA.themes.model.vo.Theme" alias="Theme"/>
      	<typeAlias type="com.kh.planA.user.model.vo.User" alias="User"/>
		<typeAlias type="com.kh.planA.myPage.model.vo.MyPageView" alias="MyPage"/>
		<typeAlias type="com.kh.planA.review.model.vo.Review" alias="Review"/>
		<typeAlias type="com.kh.planA.review.model.vo.ReviewComment" alias="ReviewComment"/>
		<typeAlias type="com.kh.planA.together.model.vo.TogetherBoard" alias="TogetherBoard"/>
        <typeAlias type="com.kh.planA.together.model.vo.Reply" alias="Reply"/>
      	<typeAlias type="com.kh.planA.together.model.vo.TogetherBoard" alias="TogetherBoard"/>
	</typeAliases>
	<mappers>
		<!-- <mapper resource="mappers/airticket-mapper.xml"/> -->
	  <mapper resource="mappers/City-mapper.xml"/>
		<!-- DataBase에 사용되는 쿼리문장들을 담은 mapper 파일들을 등록 -->
      <mapper resource="mappers/user-mapper.xml"/>
      <mapper resource="mappers/myPage-mapper.xml"/>
      <mapper resource="mappers/review-mapper.xml"/>
      <mapper resource="mappers/themes-mapper.xml"/>
      <mapper resource="mappers/board-mapper.xml"/> 
      
<!--       <mapper resource="mappers/tboard-mapper.xml"/> -->
	</mappers>

</configuration>  
